$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #808080;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

#comment {
  margin-top: 5px;
  margin-bottom: 10px;
}
